LDM/Simulacro1/Ejercicio1/biblioteca.dtd

<!DOCTYPE biblioteca [
<!ELEMENT biblioteca (libro+)>
<!ELEMENT libro (titulo, autor, fechaPublicacion)>
<!ELEMENT titulo (#PCDATA)>

<!ELEMENT autor (nombre, fechaNacimiento?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT fechaNacimiento (#PCDATA)>

<!ELEMENT fechaPublicacion (año)>
<!ELEMENT año (#PCDATA)>
]>